<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :enabled %><br>
    <%= f.check_box :enabled %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= f.number_field :points %>
  </div>
  <div class="field">
    <%= f.label :minimum %><br>
    <%= f.number_field :minimum %> / <%= @quiz.sample %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :subject_id %>
    <%= f.collection_select :subject_id, Subject.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :sample %><br>
    <%= f.number_field :sample %>
  </div>
  <div class="field">
    <%= f.label :user_ids %>
    <%= f.select :user_ids, User.all.collect {|u| [u.name, u.id]}, {}, :multiple => true %>
  </div>
  <div class="field">
    <%= f.label :question_ids %>
    <%= f.select :question_ids, Question.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
