<p id="notice"><%= notice %></p>

<p>
  <strong>Enabled:</strong>
  <%= @quiz.enabled %>
</p>
<p>
  <strong>Name:</strong>
  <%= @quiz.name %>
</p>
<p>
  <strong>Users:</strong>
  <%= @quiz.users.map { |q| q.name }.join ',' %>
</p>
<p>
  <strong>Questions:</strong><br/>
  <% @quiz.questions.each do |question| %>
    <%= link_to question.name, question_path(question) %><br/>
  <% end %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
