<%= form_for(@redemption) do |f| %>
  <% if @redemption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@redemption.errors.count, "error") %> prohibited this redemption from being saved:</h2>

      <ul>
      <% @redemption.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.all, :id, :name  %>
  </div>
  <div class="field">
    <%= f.label :reward_id %><br>
    <%= f.collection_select :reward_id, Reward.all, :id, :name  %>
  </div>
  <div class="field">
    <%= f.label :hearts %><br>
    <%= f.number_field :hearts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
