<h1 style='text-align: center;'>Users</h1>
<div class="col-md-6 col-md-offset-3">
<%= button_to 'New User', new_user_path, method: :get %>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Hearts</th>
        <th>Account</th>
        <th>Access Token</th>
        <th>Last Login</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td><%= user.hearts %></td>
          <td><%= user.account %></td>
          <td><%= user.access_token %></td>
          <td><%= user.lastlogin ? user.lastlogin.in_time_zone : "never" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
