<h1 style='text-align: center;'>Subjects</h1>
<div class="col-md-6 col-md-offset-3">
<%= button_to 'New Subject', new_subject_path, method: :get %>
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan=6><%= paginate @subjects %></th>
    </tr>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td><%= paginate @subjects %></td>
    </tr>
  </tfoot>

  <tbody>
    <% @subjects.each_with_index do |subject,index| %>
      <tr>
        <td><%= @basecount+index+1 %></td>
        <td><%= subject.name %></td>
        <td><%= subject.description %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

