<!DOCTYPE html>
<html>
<head>
  <title>quiznoob2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <% flash.each do |name, msg| %>
    <% if name != "danger" %>
      <%= content_tag :div, msg, class: "alert alert-success" %>
    <% end %>
  <% end %>

  <% if admin_signed_in? %>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "quiznoob",  "#" %></li>
            <li><%= link_to "",  "#" %></li>
            <li><%= link_to "",  "#" %></li>
            <li><%= link_to "Answers",  answers_path %></li>
            <li><%= link_to "Attempts",  attempts_path %></li>
            <li><%= link_to "Awards",  awards_path %></li>
            <li><%= link_to "Badges", badges_path %></li>
            <li><%= link_to "Quizzes",  quizzes_path %></li>
            <li><%= link_to "Questions",  questions_path %></li>
            <li><%= link_to "Redemptions",  redemptions_path %></li>
            <li><%= link_to "Rewards",  rewards_path %></li>
            <li><%= link_to "Subjects",  subjects_path %></li>
            <li><%= link_to "Users",  users_path %></li>
            <li><%= link_to "Assign",  user_quizzes_path %></li>
            <li><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>
          </ul>
        </nav>
      </div>
    </header>
  <% end %>

  <%= yield %>

</body>
</html>
